body {
    background-image: url(https://i.pinimg.com/originals/48/bf/37/48bf3741a253b794c6abe661b3a94d3b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans JP', sans-serif;

}

img {
    width: 25%;
}
h2{
    color:rgb(56, 6, 6)
}

.card{
    background-color: black;
  
}

.html5-video-player {
    width: 57%;
    height: 100%;
   
}

.btn-link{
    color:red;
}

